version: "3.8"

services:
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: dockdb-backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    networks:
      - dockdb-network

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: dockdb-client
    restart: always
    ports:
      - "5173:5173"
    environment:
      - VITE_API_BASE_URL=http://localhost:5000/api
    depends_on:
      - backend
    networks:
      - dockdb-network

networks:
  dockdb-network:
    driver: bridge
